*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    /* background-color: rgb(23, 24, 24); */
    position: relative;

}
.nav{
    height: 100px;
    width: 100%;
    /* background-color: rgb(196, 60, 26); */
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 0 2.5vw;
    /* border-bottom: 2px solid #dadada; */
}
.nav h2{
    font-size: 3vw;
    color: #032018;
}
.nav h4{
    font-size: 1.5vw;
}
.nav h4:hover{
    color:#1C60B4;
}
.nav i {
    display: none;
}

.nav-part2{
    display: flex;
    gap: 3vw;
}
.content{
    height:calc(100% - 100px);
    width: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
}
.left{
    height: 100%;
    width: 50%;
    /* background-color:blanchedalmond ; */
    padding: 6vw 7vw;
}
.left button {
    margin-top: 4vw;
    font-size: 2.1vw;
    background-color: #1C60B4;
    border: none;
    padding: 1vw 2vw;
    color: #fff;
    border-radius: 5px;

}
.left button:hover{
    background-color:#71ABF5;
    color: #080d04;
}
.left h1{
    font-size: 4.5vw;
    line-height: 4.8vw;
    margin-top: 2vw;
    color: #211f1f;
}
.left p{
    font-size:2vw ;
    line-height: 2.8vw;
    margin-top: 4vw;
}
.left span {
    color: #1C60B4;
}


.right{
    height: 100%;
    width: 50%;
    /* background-color:rosybrown ; */
}
.right img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}









@media (max-width:600px) {
    .nav{
        background-color: lightseagreen;
        color: #fff;
    }
    .nav h2{
        font-size: 4vw;
        padding: 0 5vw;
    }
    .nav h4{
       display: none;
    }
    .nav i {
        display: block;
        font-size: 4vw;
        font-weight: 500;
          
    }
}